/* ———————————————————————————————————————————————————————————————————————————————————————————————————— */
/* FONTS */

@font-face {
    font-family: 'Tobias';
    src: url(fonts/tobiastrial-semibold.otf);
  }
  
  @font-face {
    font-family: 'Neue Haas';
    src: url(fonts/nhaasgroteskdspro-75bd.ttf);
  }
  
  @font-face {
    font-family: 'CS Mono';
    src: url(fonts/centuryschoolbookbt-monospace.ttf);
  }
  
  /* ———————————————————————————————————————————————————————————————————————————————————————————————————— */
  /* ROOT */
  
  :root {
    --brown: #311D11;
    --yellow: #EEE56A;
    --orange: #FC5517;
    --blue: #0659ED;
    --pink: #FFA5A6;
    --silver: #9D9D9D;
    --grey: #444444;
  
      --bg: var(--brown);
      --text: var(--silver);
      --button: var(--grey);
      --hover: var(--yellow);
      --highlight: var(--yellow);
  
    --transShort: 0.15s;
    --transLong: 0.5s;
    --vh: 100vh;
  
    --scale: 2.25px;
    --p: calc(var(--scale) * 8);
    --a: calc(var(--scale) * 9.5);
    /* --h1: calc(var(--scale) * 30); */
    --h1: calc(2 * 2vw);
  
    --padding: calc(var(--scale) * 5);
    --gap: calc(var(--scale) * 3);
    --gapHalf: calc(var(--gap) * 0.5);
  }
  
  @media (max-width: 1600px) { :root { --scale: 2px; }}
  @media (max-width: 1000px) { :root { --scale: 1.8px; }}
  @media (max-width: 500px)  { :root { --scale: 1.5px; }}
  
  /* ———————————————————————————————————————————————————————————————————————————————————————————————————— */
  /* BASE */
  
  *::selection { background-color: var(--highlight); }
  a::selection { background-color: unset; }
  h1::selection { background-color: unset; }
  h1 span::selection { background-color: unset; }
  
  html { overflow-x: hidden; }
  
  body {
    height: var(--vh); 
    display: flex;
      justify-content: center;
      align-items: center;
    flex-direction: column;
    gap: var(--gap);
    padding: var(--padding);
  
      background-color: var(--bg);
    color: var(--text);
  }
  
  /* ———————————————————————————————————————————————————————————————————————————————————————————————————— */
  /* TYPE */
  
  p {
    font-family: 'CS Mono', 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-size: var(--p);
    letter-spacing: -0.03em;
    line-height: 1.05em;
  
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
  }
  
  h1 {
    font-family: 'Tobias', serif;
    letter-spacing: -0.03em;
    font-size: var(--h1);
    text-align: center;
    width: 12.5em;
    line-height: 0.85em;
  }
  
  h1 span {
    display: inline-block;
    cursor: pointer;
  }
  
  h1 span.twitch {
    /* transform: scaleY(2.5); */
    color: var(--orange);
  }
  
  a {
    font-family: 'Neue Haas', Helvetica, sans-serif;
    font-size: var(--a);
  
    background-color: var(--button);
    color: inherit;
    display: inline-block;
  
    text-decoration: none; 
    cursor: pointer;
      transition: background-color var(--transShort), color var(--transShort);
  }
  
  @media (hover: hover) {
    .contact div a:hover {
      background-color: var(--hover);
    }
  }
  
  .contact div a:active {
    background-color: var(--hover);
  }
  
  /* ———————————————————————————————————————————————————————————————————————————————————————————————————— */
  /* STRUCTURE */
  
  body section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gapHalf);
    width: 100vw;
    /* border: 1px solid red; */
  }
  
  body section#top, body section#bottom { height: 100%; }
  
  body section#top { justify-content: flex-start; }
  body section#bottom { justify-content: flex-end; }
  
  body section div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: inherit;
  }
  
  body section#top .open { height: 100%; }
  body section#bottom .intro { padding: 1.5em 0; }
  body section#bottom .contact { gap: var(--gap); }
  
  body section#bottom .contact div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0.1em;
  }
  
  /* ———————————————————————————————————————————————————————————————————————————————————————————————————— */
  /* MISC */
  
  #dvd {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 10vh;
    width: auto;
    pointer-events: none;
    z-index: 100;
    /* border: 1px solid red; */
  }
  
  .pigeon {
    position: fixed;
    width: 100px;
    height: 100px;
    pointer-events: none;
    z-index: 100;
  }
  
  /* ———————————————————————————————————————————————————————————————————————————————————————————————————— */
  /* MOBILE */
  
  body.mobile p { font-size: 4.1vw; }
  body.mobile a { font-size: 4.8vw; }
  body.mobile section#bottom .intro { height: 100%; }
  body.mobile h1 {
    width: 95vw;
    font-size: calc(2 * 5vw);
  }
  body.mobile section#bottom .contact div { padding: 0.1em; }